{ 
 "sourceBucketName":"try-py-bucket-source",
 "destBucketName":"try-py-bucket-dest",
 "uploadFilename":"env.json.sample",
 "copyFilename":"env.json.sample.copy",
 "downloadFilename":"env.json.sample.download"
 }